/**div {
  border: 1px solid black;
}**/
.navbar {
  border-bottom: 1px solid black;
  background-color: #3d73ff;
}
.titletext {
  display: inline-block;
  line-height: 64px;
  vertical-align: middle;
  color: #EEE;
}
.username {
  display: inline-block;
  float: right;
  color: #EEE;
}
.password {
  display: inline-block;
  float: right;
  color: #EEE;
}
.subinput {
  text-decoration: none;
  color: #DDD;
}
