 div {
  border: 1px solid black;
}
p, a, h1 {
  font-family: helvetica;
}
.navbarsignup {
  border-bottom: 1px solid black;
  background-color: #1c54e7;
  height: 66px;
}
.navbarloggedin {
  border-bottom: 1px solid black;
  background-color: #1c54e7;
  height: 48px;
}
.searchbox {
  display: inline-block;
  padding-left: 15px;
}
#navsearch {
  height: 16px;
  width: 378px;
}
.navwrapper {
  width: 980px;
  min-width: 980px;
  margin: auto;
}
.titletext {
  display: inline-block;
  line-height: 64px;
  vertical-align: middle;
  color: #EEE;
  font-size: 30px;
  font-weight: bold;
  padding-left: 48px;
}
#smallnav {
  line-height: 48px;
}
.inputtitle {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 4px 4px 1px;
  color: #EEE;
}
.accountoptions {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 290px;
  float: right;
  padding-left: 80px;
}
.accountstyle {
  display: inline-block;;
  width: 90px;
  color: #EEE;
}
.accountstyle a {
  padding-left: 5px;
  font-size: 12px;
}
.avatar {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.accicon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  padding-left: 5px;
}
.username {
  display: inline-block;
  float: right;
  color: #EEE;
  padding-right: 20px;
  height: 66px;
}
.password {
  display: inline-block;
  float: right;
  color: #EEE;
  height: 66px;
  padding-right: 20px;
}
.fieldinput {
  width: 140px;
  height: 14px;
  padding-left: 5px;
}
#checkcontain {
  height: 24px;
}
.subinput {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #CCC;
  line-height: 24px;
  padding-left: 1px;
}
#struggleInput {
  display: inline-block;
  line-height: 24px;
  padding: 0px;
}
.checkbox {
  height: 12px;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 0px;
  margin-left: 0px;
}
.loginbutton {
  display: inline-block;
  float: right;
  line-height: 58px;

  vertical-align: middle;
}
.loginbutton button {
  height: 20px;
  width: 54px;
  background-color: #379ff5;
  color: #EEE;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #333;
  font-family: helvetica;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  vertical-align: middle;
}
.contentwrap {
  background-color: #eee;
}
.content {
  margin: auto;
  width: 980px;
}
.pitchtitle {
  padding: 40px 0px 40px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #222;
  font-family: helvetica;
}
.pitch{
  display: inline-block;
  padding-top: 50px;
  padding-left: 48px;
}
.pitchpoint {
  padding-left: 10px;
  padding-bottom: 20px;
}
.pitchpic {
  display: inline-block;
}
.pitchpic img {
  height: 50px;
  width: 50px;
  opacity: .4;
}
.pitchtext {
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
  color: #333;
  vertical-align: top;
}
.pitchemp {
  color: #333;
  font-weight: bold;
}
.signup {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-left: 64px;
}
.signup h1 {
  font-size: 36px;
  font-weight: bold;
  color: #222;
  padding-bottom: 26px;
}
.half, .full {
  padding-left: 5px;
}
.textboxhalf {
  display: inline-block;
  padding-bottom: 18px;
}
.textboxhalf input {
  height: 20px;
  width: 171px;
}
#firstname {
  padding-right: 18px;
}
.textboxfull {
  padding-bottom: 18px;
}
.textboxfull input {
  height: 20px;
  width: 373px;
}
.bday p {
  padding-top: 12px;
  padding-bottom: 10px;
}
.bdaydrops {
  padding-bottom: 18px;
}
.sexs {
  display: inline-block;
  padding-bottom: 18px;
}
.sselection {
  display: inline-block;
}
.signbutton button {
  height: 30px;
  width: 382px;
  background-color: #1d9e02;
  color: #EEE;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #333;
  font-family: helvetica;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  vertical-align: middle;
}
.footbar {
  color: #0726ab;
  font-size: 12px;
}
.footwrap {
  width: 936px;
  margin: auto;
  padding-left: 48px;
}
.language {
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbb;
}
.sitemapwrap {
padding-top: 10px;
}
.sitemap {
  padding-top: 5px;
}
.profilenav {
  height: 64px;
  display: inline-block;
}
.profilepic, .proftimeline, .profabout, .profphotos, .proffriends, .profedit {
  display: inline-block;
}
